/***********ROOT*****************/
:root {
  --light-green: #d8e2dc;
  --darker-green: #9abca7;
  --light-beige: #ffe5d9;
  --bright-pink: #f7b2ad;
  --light-pink: #ffcad4;
  --darker-pink: #f4acb7;
  --light-brown: #ceb7b3;
  --darker-brown: #9d8189;
  --gray: #b7b7b7;
  --black: #333232;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/***********ELEMENTS*****************/

body {
  background-color: var(--light-beige);
  color: black;
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--light-brown);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

nav {
  height: 7vh;
  width: 100%;
  padding-top: 10px;
  background-color: var(--light-brown);
}

nav a {
  color: white;
  text-decoration: none;
}

.active {
  color: var(--darker-brown);
}

#cat-logo {
  height: 5vh;
}

#account {
  display: flex;
  height: 4vh;
  color: var(--light-beige);
}

footer p {
  font-size: 0.8rem;
}

/***********COMPONENTS*****************/
/*NavBar*/
/*NavBar classes*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 0 25px;
}

.links {
  display: flex;
  gap: 20px;
}

.empty-div {
  width: 12.5rem;
  display: flex;
  justify-content: flex-end;
}


/***********PAGES*****************/
/***********Home Page*****************/

/*classes*/
.main-container {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  margin: 10px;
}

.basic-info,
.tweets {
  width: 100%;
  background-color: lightgrey;
  color: black;
  padding: 5px;
}

.basic-info {
  margin-bottom: 10px;
  min-height: 100px;
}

.foto {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

.tweets {
  border-radius: 10px;
  height: fit-content;
}

.profile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.hook-up-button {
  background-color: hotpink;
  display: inline-block;
  height: 30px;
  margin: 20px 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.hook-up-button:before,
.hook-up-button:after {
  content: '';
  background-color: hotpink;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.hook-up-button:before {
  top: -15px;
  left: 0;
}

.hook-up-button:after {
  left: 15px;
  top: 0;
}

.swipe {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.swipe.right {
  border-left: 30px solid hotpink;
}

/**************AddPet Page*****************/
/*elements*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  width: 50%;
  min-height: 50vh;
  background-color: var(--gray);
}

input {
  width: 100%;
  padding: 1em;
  line-height: 1.1;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/*classes*/
.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
}

.add-form h1 {
  margin: 20px;
}

.addPet-button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 10px auto 10px auto;
  background-color: var(--bright-pink);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/**************Update Page*****************/
/*IDs*/
#row-buttons {
  display: flex;
  gap: 1.0625rem;
}

/*classes*/
.delete-button {
  background-color: rgba(205, 19, 19, 0.696);
}

/**************Detail Page*****************/
/*classes*/
.pet-details {
  /* height: 70vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.pet-details>img {
  width: 900px;
  height: 700px;
  border-radius: 10px;
}

.details-info-container {
  padding: 30px;
}

/****************Not Found Page********************/
.not-found-page {
  height: 85vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  text-align: center;
}

.not-found-page h1 {
  font-size: 3em;
  color: var(--black);
}

.not-found-page p {
  font-size: 1.5em;
  color: var(--black);
  margin-top: 30px;
}

.not-found-page a {
  color: var(--black);
  margin: 30px auto;
  width: 25%;
  font-size: 1.2em;
}



























/*to be merged*/
.navigateToUpdate {
  width: 200px;
  height: 50px;
  margin: 10px auto 10px auto;
  background-color: var(--bright-pink);
  border: none;
  border-radius: 20px;
  cursor: pointer;

  text-align: center;
  padding-top: 12px;
}